<div class='nav {{themeClasses[currentTheme]}}'>
  <label class='nav__theme-toggle' (click)="toggleTheme()">{{themes[currentTheme]}}</label>
</div>
<div class='container {{themeClasses[currentTheme]}}'>
  <div class='editor'>
    <div class='editor__save-button' (click)="copyMarkdownToClipboard()">copy to clipboard</div>
    <textarea class='editor__field {{themeClasses[currentTheme]}}' [(ngModel)]="textToBeMarkedDown"></textarea>
  </div>
  <div class='display {{themeClasses[currentTheme]}}'>
    <div class='display__field {{themeClasses[currentTheme]}}' [innerHTML]="getPurifiedHTML()"></div>
  </div>
</div>

<router-outlet></router-outlet>
